header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
header .logo-div img {
  width: 80px;
}
header .search-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .search-div .search-bar-div input {
  border-radius: 8px;
  border: none;
  border-radius: 16px 0 0 16px;
  height: 30px;
}
header .search-div .search-icon-div {
  background-color: #fff;
  height: 32px;
  width: 32px;
  border-radius: 8px;
  border: none;
  border-radius: 0 16px 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .search-div .search-icon-div img {
  height: 20px;
}

.current-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.04) 100%);
  border-radius: 8px;
  border: none;
  padding: 35px 0;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
  max-width: 300px;
}
.current-view h1 {
  margin: 5px 0 0 0;
}
.current-view .date-info-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.current-view .date-info-div h2 {
  font-size: 16px;
  margin: 0;
}
.current-view .weather-info-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.current-view .weather-info-div .current-icon {
  width: 50px;
  filter: invert(1) grayscale(100%) brightness(1000%);
}
.current-view .weather-info-div p {
  font-size: 40px;
  font-weight: bold;
  margin: 0px;
}

.week-day-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 90%;
  max-width: 500px;
  margin: auto;
  margin-bottom: 50px;
}
.week-day-list .week-day-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  width: 100%;
  font-size: 12px;
  padding-right: 30px;
}
.week-day-list .week-day-header p {
  margin: 3px 0 3px 0;
}
.week-day-list .week-day-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.04) 100%);
}
.week-day-list .week-day-btn .date-info-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.week-day-list .week-day-btn .date-info-div h2 {
  min-width: 95px;
  text-align: left;
  font-size: 16px;
}
.week-day-list .week-day-btn .weather-info-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.week-day-list .week-day-btn .weather-info-div .week-day-icon {
  width: 20px;
  filter: invert(1) grayscale(100%) brightness(1000%);
}
.week-day-list .week-day-btn .weather-info-div .week-day-temperature-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}
.week-day-list .week-day-btn .weather-info-div .week-day-temperature-div h3 {
  margin: 2px;
}

.day-list {
  width: 90%;
  max-width: 500px;
  margin: auto;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.day-list h1 {
  width: 100%;
  margin-bottom: 5px;
}
.day-list .day-list-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.day-list .day-list-header .info {
  font-size: 12px;
  gap: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.day-list .day-list-header .info p {
  width: 40px;
  text-align: center;
  margin: 3px 0 3px 0;
}
.day-list .hour {
  border-radius: 8px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.04) 100%);
  width: 100%;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}
.day-list .hour .info {
  gap: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.day-list .hour .info .hour-icon {
  height: 20px;
  width: 40px;
  filter: invert(1) grayscale(100%) brightness(1000%);
}
.day-list .hour .info p {
  width: 40px;
  text-align: center;
  margin: 3px 0 3px 0;
}
.day-list .hour .info .temp {
  width: 40px;
}
.day-list .hour .info .temp p {
  text-align: right;
  width: auto;
  padding-right: 6px;
}

footer {
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  background-color: #20a2be;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
}

* {
  color: #fff;
}/*# sourceMappingURL=main.css.map */