.current-view {
    @include column;
    @include gradiant;
    @include border;
    padding: 35px 0;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    max-width: 300px;
    h1 {
        margin:5px 0 0 0;;
    }
    .date-info-div {
        @include row;
        gap: 5px;
        h2 {
            font-size: 16px;
            margin:0;;
        }
    }

    .weather-info-div {
        @include row;
        gap: 10px;
        .current-icon {
            width: 50px;
            @include iconColor;
        }
        p {
            font-size: 40px;
            font-weight: bold;
            margin: 0px;
        }
    }

}