
.week-day-list {
    @include column;
    gap: 5px;
    padding: 0 10px;
    .week-day-header {
        @include row;
        justify-content: flex-end;
        gap: 12px;
        width: 100%;
        font-size: 12px;
        padding-right: 30px;
        p {
            margin: 8px 0 8px 0;
        }
    }
    .week-day-btn {
        @include row;
        justify-content: space-between;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 16px;
        border: none;

        @include gradiant;
    
        .date-info-div{
            @include row;
            gap: 15px;
        }
    
        .weather-info-div{
            @include row;
            gap:20px;
    
            .week-day-icon {
                width: 20px;
                @include iconColor;
            }
        
            .week-day-temperature-div {
                @include column;
        
                h3 {
                    margin: 2px;
                }
            }
        }
    }
}
