.week-day-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
    .week-day-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 16px;
    
        .date-info-div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
        }
    
        .weather-info-div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap:20px;
    
            .week-day-icon {
                width: 20px;
            }
        
            .week-day-temperature-div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
        
                h3 {
                    margin: 2px;
                }
            }
        }
    }
}
