
.week-day-list {
    @include column;
    gap: $listGap;
    width: 90%;
    max-width: 500px;
    margin:auto;
    margin-bottom: 50px;
    .week-day-header {
        @include row;
        justify-content: flex-end;
        gap: 12px;
        width: 100%;
        font-size: 12px;
        padding-right: 30px;
        p {
            margin: 3px 0 3px 0;
        }
    }
    .week-day-btn {
        @include row;
        justify-content: space-between;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        @include border;

        @include gradiant;
    
        .date-info-div{
            @include row;
            gap: 15px;
        }
    
        .weather-info-div{
            @include row;
            gap:20px;
    
            .week-day-icon {
                width: 20px;
                @include iconColor;
            }
        
            .week-day-temperature-div {
                @include column;
                align-items: flex-end;
        
                h3 {
                    margin: 2px;
                }
            }
        }
    }
}
